.weather-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #89f7fe 0%, #66a6ff 100%);

    .weather-card {
        width: 27rem;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden; 

        .select-city {
            margin: 20px;
            font-size: 1.2rem;

            label {
                font-weight: bold;
            }
            
            select {
                width: 50%;
                padding: 8px;
                font-size: 1rem;
                border-radius: 5px;
                border: 1px solid #ccc;
                outline: none;
                background-color: #f9f9f9;
                transition: border-color 0.3s ease;
                &:focus {
                    border-color: #66a6ff;
                }
            }
        }

        .weather-content {
            padding: 20px;
            text-align: center;

            .city-name {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333333;
            }
            .weather-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .weather-icon {
                    width: 100px;
                    height: 100px;
                }

                .temperature, .wind-speed {
                    font-size: 1.2rem;
                    color: #555555;
                }
            }
        }
    }
}
